@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.zoom {
  animation: zoom-in-zoom-out 0.3s ease-in;
}

@keyframes zoom-in-zoom-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ql-editor {
  height: 20vh !important;
}
.left-side {
  animation: rigth-to-left 0.3s ease-in;
}
@keyframes rigth-to-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* top to bottom */

.top-to-bottom {
  animation: toptobottom 0.2s ease-in;
}

@keyframes toptobottom {
  from {
    opacity: 0.5;
    height: 0;
  }
  to {
    opacity: 1;
    height: 20vh;
  }
}
.top-to-bottom {
  animation: toptobottom 0.2s ease-in;
}

@keyframes bottomtotop {
  from {
    opacity: 1;
    height: 20vh;
  }
  to {
    opacity: 0;
    height: 0;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
